{% extends 'layout.html' %}

{% block body %}

<div class="row">
	<div class="col-md-13">
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor%}
{% endif %}
{% endwith %}

				<div class="card border-info" >
  					<div class="card-header">Registro</div>

  						<div class="card-body">
    					<p class="card-text">Llena los campos para completar el registrode un nuevo alumno</p>
  				
      <a href="/stablas" class="btn btn-danger" role="button" aria-disabled="true">Regresar</a>
<div class="card card-body">
			<form action="/add" method="POST">
				<div class="form-inline">
					<input type="text" name="fullname" placeholder="Nombre" class="form-control">
					<input type="text" name="lastname" placeholder="Apellido" class="form-control">
					<input type="email" name="email" placeholder="Correo" class="form-control">
					<input type="text" name="phone" placeholder="Telefono" class="form-control">
					<input type="text" name="carrera" placeholder="Carrera" class="form-control">
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>



  				</div>



		
				
				
				<div class="for">
				
			</div>
			</form>
		</div>
	</div>
	<div class="col-md-4"></div>
	<div class="table-responsive">
	<table class="table table-striped table-bordered bg-grey table-sm">
	<thead>
		<tr>
			<td>nombre</td>
			<td>apellidos</td>
			<td>correo</td>
			<td>telefono</td>
			<td>carrera</td>
			<td>Operaciones</td>
		</tr>
	</thead>

	<tbody>
		{% for alumno in alumnos %}
		<tr>
			<td>{{ alumno.1}}</td>
			<td>{{ alumno.2}}</td>
			<td>{{ alumno.3}}</td>
			<td>{{ alumno.4}}</td>
			<td>{{ alumno.5}}</td>
			<td>
				<a href="/edit/{{alumno.0}}" class="btn btn-secondary">Editar</a>
				<a href="/delete/{{alumno.0}}" class="btn btn-danger">Borrar</a>
			</td>
		</tr>
		{% endfor%}
	</tbody>
</table>
</div>
</div>






{% endblock %}